.input-search {
  align-items: center;
  border-bottom: 1px solid;
  display: flex;
  margin: 0 auto;
  padding: 4px 0;
  
  @media (min-width: 768px) {
    max-width: 348px;    
  }

  &__field {
    background: transparent;
    border: 0;
    min-width: 90%;      
    outline: none;
    
    @media (min-width: 768px) {
      min-width: 325px;
    }
  }

  &__icon {
    max-width: 22px;
    width: auto;

    &.clean {
      cursor: pointer;
      max-width: 18px;
    }
  }
}