<div class="container home">
  <div class="row">
    <header-home></header-home>
  </div>

  <div class="row mb-5">
    <input-search (inputValue)="getByPokemonName($event)"></input-search>
  </div>

  <div class="row">
    <ng-container *ngIf="!isLoading && listOfItems.length > 0">
      <ng-container
        *ngFor="
          let item of listOfItems
            | paginate
              : {
                  id: 'listOfItems',
                  itemsPerPage: limit,
                  currentPage: currentPage,
                  totalItems: totalItens
                }
        "
      >
        <div class="col-md-4 mb-4">
          <card
            [link]="'/'"
            [linkParam]="item?.id"
            [imageUrl]="item?.sprites?.front_default"
            [title]="item?.name"
          ></card>
        </div>
      </ng-container>

      <pagination-controls
        id="listOfItems"
        (pageChange)="pageChanged($event)"
        previousLabel=""
        nextLabel=""
        [autoHide]="true"
      >
      </pagination-controls>
    </ng-container>

    <ng-container *ngIf="!isLoading && listOfItems.length === 0">
      <no-results></no-results>
    </ng-container>
  </div>
</div>
