<div class="container details">
  <div class="details__content">
    <header-datails></header-datails>

    <ng-container *ngIf="isLoading">
      <loader></loader>
    </ng-container>

    <ng-container *ngIf="!isLoading">
      <div class="content">
        <div
          class="content__img"
          [ngStyle]="{
            'background-image': 'url(' + details?.sprites?.front_default + ')'
          }"
        ></div>
        <div class="content__div">
          <div class="data">
            <p class="data__title">Nome</p>
            <p class="data__content">
              {{ details?.name ? details?.name : "--" }}
            </p>
          </div>

          <div class="data">
            <p class="data__title">Espécie</p>
            <p class="data__content">
              {{ details?.species?.name ? details?.species?.name : "--" }}
            </p>
          </div>

          <div class="data">
            <p class="data__title">Altura (dm)</p>
            <p class="data__content">
              {{ details?.height ? details?.height : "--" }}
            </p>
          </div>

          <div class="data">
            <p class="data__title">Peso (hg)</p>
            <p class="data__content">
              {{ details?.weight ? details?.weight : "--" }}
            </p>
          </div>

          <div class="data">
            <p class="data__title">Base de experiência</p>
            <p class="data__content">
              {{ details?.base_experience ? details?.base_experience : "--" }}
            </p>
          </div>
        </div>
      </div>

      <div class="footer content__div">
        <div class="data">
          <p class="data__title">Habilidades</p>
          <ng-container *ngFor="let ability of details?.abilities">
            <div class="data__list">
              <div class="data__list-content wider">
                <b>Nome</b>:
                {{ ability?.ability?.name ? ability?.ability?.name : "--" }}
              </div>

              <div class="data__list-content wider">
                <b>Habilidade oculta</b>:
                {{ ability?.is_hidden ? "Sim" : "Não" }}
              </div>
            </div>
          </ng-container>
        </div>

        <div class="data">
          <p class="data__title">Estatísticas</p>
          <ng-container *ngFor="let stat of details?.stats">
            <div class="data__list">
              <div class="data__list-content wider">
                <b>Tipo</b>: {{ stat?.stat?.name ? stat?.stat?.name : "--" }}
              </div>

              <div class="data__list-content">
                <b>Valor</b>: {{ stat?.base_stat ? stat?.base_stat : "--" }}
              </div>
              <div class="data__list-content">
                <b>EVs</b>: {{ stat?.effort }}
              </div>
            </div>
          </ng-container>
        </div>

        <div class="data">
          <p class="data__title">Tipo</p>
          <ng-container *ngFor="let type of details?.types">
            <div class="data__list">
              <div class="data__list-content wider">
                <b>Nome</b>: {{ type?.type?.name ? type?.type?.name : "--" }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
